---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: mosquittoes.messaging.eclipse.org
spec:
  group: messaging.eclipse.org
  names:
    kind: Mosquitto
    listKind: MosquittoList
    plural: mosquittoes
    singular: mosquitto
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Mosquitto is the Schema for the mosquittoes API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MosquittoSpec defines the desired state of Mosquitto
            properties:
              authEnabled:
                type: boolean
              authSecret:
                type: string
              persist:
                type: boolean
            type: object
          status:
            description: MosquittoStatus defines the observed state of Mosquitto
            properties:
              mosquittoConfConfigMap:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
